<div class="colored-box" id="addMemberContainer">
    <div id="header-groupCreation">
        <h3 id="text-title-group">
            Añadir miembro
        </h3>  
        <button mat-fab  (click)="executeEvent(1)">
            <mat-icon >cancel</mat-icon>
        </button>            
    </div>
<div id="addMemberContainerGroup_1" class="options">
        <div id="addMemberContainerGroup_1_1" class="options1">
        
        <div style="width: 100%; margin-left: 25%; height: 8%; margin-bottom:2%" >
            <button (click)="buscarMiembro(searchUser.value)"><mat-icon  >search </mat-icon></button> 
            <!--CampoParaBuscarUsuario--> 
            <input id="fieldToSearchUser" #searchUser name="searchUser" type="text" >
    
            <button  (click)="executeEvent(2)" ><mat-icon >cancel </mat-icon></button> 
        </div>
       

        <div id="fieldToSeeUserLogo" >
        
        <!--CampoLogoDeUsuario--> 

        <img name="userLogo" id="userLogo">
        <div id="fieldToSeeUserInformation">
        
            <!--CampoNombreDeUsuario--> 
            <h3 name="userName" >Nombre: {{userData.name}}</h3>
        
            <!--CampoIdDeUsuario--> 
            <h3 name="userId">{{userData.id}}</h3>
        </div>
        <div id="fieldToSeeUserInformation2">
            <!--CampoImagenDePerfil--> 

            <img name="userImage">
        </div>
        <div id="fieldUserDescription" >
        
        <div>
            <!--CampoDeDescripcionUsuario--> 

            <h2 name="userDescription">Descripción: {{userData.description}}</h2>   
            <!--BotonAñadirMiembro--> 
            <label>Es admin?</label>
            <input type="checkbox" disabled="false" id="checkboxAdmin" value="Hacer Admin?">
            <button  (click)="addUser()" id="addMemberButton" name="addMemberButton"  class="addMemberButton" name=""> Añadir miembro</button>
            <button  style="display: flex;" (click)="addMember()" id="addMemberToGroup" name="addMemberButton"  class="addMemberButton" name=""> Añadir miembro</button>
        </div>
        </div>
        </div> 
    </div>
</div>
</div>