<mat-card class="card">
    <mat-card-header>        
        <div id="imgReportado" >
            <img [src]="fotoPerfil" height="250px" width="250px"/>
        </div>
        <button mat-icon-button color="primary" (click)="closeModal()">
            <mat-icon>keyboard_return</mat-icon>
          </button>
    </mat-card-header>
        <mat-card-content>
            <div *ngIf="type===1; else informacionGrupo">
                <h1>{{usuario?.nombre}}</h1>
                <p>
                    {{usuario?.descripcion}}
                </p> 
            </div>   
            <ng-template #informacionGrupo>
                <h1>{{usuario?.informacion.nombre}} </h1>
                <p>
                    {{usuario?.informacion.descripcion}}
                </p>
            </ng-template>
            <mat-divider></mat-divider>
        </mat-card-content>
        <mat-card-content>
            <h4> {{reporte}} : <b> Reporte Enviado por ID: {{idReportador}} </b> </h4>
        </mat-card-content>
        <mat-card-content>
            <h2>Lista de mensajes</h2>
            <cdk-virtual-scroll-viewport itemSize="50" class="content">                              
                <mat-list >
                    <mat-list-item *cdkVirtualFor="let item of listaMensajes">
                    
                    <h3 matLine> {{ validarFecha(item.fecha) }} </h3>
                    <sub *ngIf="type===2" >
                        {{item.sender}}
                    </sub>
                    <p matLine>
                        <span> {{item.mensaje}} </span>
                    </p>
                    
                    <mat-divider></mat-divider>
                    </mat-list-item>
                </mat-list>
            </cdk-virtual-scroll-viewport>

            <mat-divider></mat-divider>
        </mat-card-content>    
    <mat-card-actions>
    <button mat-raised-button color="warn" [mat-dialog-close]="lista" (click)="bloquearUsuario()" >Bloquear</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="lista" (click)="descartarReporte()">Descartar</button>
    </mat-card-actions>

</mat-card>