<mat-card class="card">
    <mat-card-header>
    <mat-card-title>Administrador</mat-card-title>
    <mat-card-subtitle>Bienvenido, administrador</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
    <p>
        Desde está cuenta podrá revisar reportes hechos hacía grupos e usuarios, más tener acceso a los mensajes
        de los usuarios. Podra decidir si bloquear al usuario, grupo o desbloquear. Está cuenta solo puede ser
        usada por usuarios con nivel de acceso superior al sistema. 
    </p>

    <p [@bodyExpansion]="state" class="expandable-content">
        {{data.user}}
    </p>
    <mat-divider>
    </mat-divider>
    </mat-card-content>

    <mat-card-actions>
    <button mat-button (click)="toggle()" color="primary">EXPAND</button>
    </mat-card-actions>

</mat-card>