<ng-sidebar-container 
(onBackdropClicked)="_onBackdropClicked()">
<ng-sidebar
[(opened)]="_opened"
[mode]="_MODES[_modeNum]"
[keyClose]="_keyClose"
[position]="_POSITIONS[_positionNum]"
[dock]="_dock"
[dockedSize]="'50px'"
[autoCollapseHeight]="_autoCollapseHeight"
[autoCollapseWidth]="_autoCollapseWidth"
[closeOnClickOutside]="_closeOnClickOutside"
[closeOnClickBackdrop]="_closeOnClickBackdrop"
[showBackdrop]="_showBackdrop"
[animate]="_animate"
[trapFocus]="_trapFocus"
[autoFocus]="_autoFocus"
[ariaLabel]="'My sidebar'"
(onOpenStart)="_onOpenStart()"
(onOpened)="_onOpened()"
(onCloseStart)="_onCloseStart()"
(onClosed)="_onClosed()"
(onTransitionEnd)="_onTransitionEnd()">

<div class="colored-box2" style="flex-direction: column; box-sizing: border-box; display: flex;">
  <div id="header-menu-group" style="flex: 1 1 100%; box-sizing: border-box; max-height: 5%;">
    <button mat-icon-button aria-label="Close" (click)="_toggleOpened()">
      <mat-icon>close</mat-icon>
    </button>
    <span id="text-header-menu">Información</span>
  </div>
  <div id="icon-name-group" fxflex="20" style="flex: 1 1 100%; box-sizing: border-box; max-height: 20%;">
    <img mat-card-image src="assets/images/chayan.png" style="border-radius: 50%; display: block; margin-left: auto; margin-right: auto; padding-top: 10px; width: 20%;">
    <h1 style="padding-top: 4%; padding-left: 2%; color: white; font-size: 30px;">
        <!--Recibe el nombre del grupo-->
        {{currentGroup}}
    </h1>
  </div>
  <div id="description-group" fxflex="20" style="flex: 1 1 100%; box-sizing: border-box; max-height: 20%;">
    <h1 style="padding-top: 4%; color: black; font-size: 25px;">DESCRIPCION</h1>
    <div>
      <!--area donde estara la descripcion del grupo-->
    </div>
  </div>
  <div id="assign-homework-group" fxflex="5" style="flex: 1 1 100%; box-sizing: border-box; max-height: 5%;">
    <button mat-raised-button style="width: 100%; height: 100%; background-color: white;">Asignar Tarea</button>
  </div>
  <div id="text-members-group" fxflex="5" style="flex: 1 1 100%; box-sizing: border-box; max-height: 5%;">
    <h1>Integrantes</h1>    
  </div>
  <div id="members-group" fxflex="35" style="flex: 1 1 100%; box-sizing: border-box; max-height: 35%;">
    <cdk-virtual-scroll-viewport itemSize="50" class="list-members">
      <div *cdkVirtualFor="let item of items" class="member-item">
        <button mat-button [matMenuTriggerFor]="menu" style="height: 100%; width: 100%;">
          {{item}}
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Eliminar del grupo</button>
          <button mat-menu-item>Hacer administrador</button>
        </mat-menu>
      </div>   
    </cdk-virtual-scroll-viewport>-  
  </div>  

  <div id="buttons-group" fxflex="10" style="flex: 1 1 1e-09px; box-sizing: border-box; max-height: 10%;">
    <button mat-raised-button >Salir del grupo</button><br>
    <button mat-raised-button style="margin-top: 10px;">Reportar grupo</button>
  </div>
</div>  
</ng-sidebar>
<div ng-sidebar-content style="height: 100%; width: 100%;">
    <!--Toda la parte de arriba es el menu de gh-->
    <!-------------------------------------------------------------------------------------Esta seccion es Home - Pagina---------------------------------------------------------------------------------->
    <div class="colored-box" style="flex-direction: row; box-sizing: border-box; display: flex;">
        <div style="flex: 1 1 100%; box-sizing: border-box; max-width: 5%;" class="menu">
            <div class="logo">
                <img src="assets/images/logo.png" height="90px" width="90px">
            </div>
            <div class="button-container">
                <button mat-fab 
                color="primary">
                <mat-icon>delete</mat-icon>
                </button>
            </div>
            <div class="button-container">
                <button mat-fab 
                color="accent">
                <mat-icon>bookmark</mat-icon>
                </button>
            </div>
            <div class="button-container">
                <button mat-fab 
                color="warn">
                <mat-icon>home</mat-icon>
                </button>
            </div>
            <div class="button-container" id="button-usuario">
                <button mat-fab 
                color="warn">
                <mat-icon>person</mat-icon>
                </button>
            </div>
        </div>
        <div fxflex="20" style="flex: 1 1 100%; box-sizing: border-box; max-width: 20%;" class="submenu">
            <div class="colored-box" style="flex-direction: column; box-sizing: border-box; display: flex;">
                <div class="options" style="flex: 1 1 100%; box-sizing: border-box; max-height: 25%;">
                    <h3>Opciones</h3>
                    <button (click)='createComponent(2)'>Crear grupo</button>
                </div>
                <div class="my-groups" fxflex="" style="flex: 1 1 1e-09px; box-sizing: border-box;" >
                    <h3>Mis Grupos</h3>
                    <div *ngFor="let grupo of grupos | keyvalue">
                    <!--TODO: Crear en forma de ListView y arreglar problema con los nombres-->
                    <button mat-raised-button (click)='showGroup()' data-idgrupo="{{grupo.value.id}}" id="btnC">{{grupo.value.nombre}}</button>                
                    </div>                
                </div>
            </div>
        </div>   
        <div fxflex="" style="flex: 1 1 0%; box-sizing: border-box;" class="chat" id="principalContainer">
    <!--MODULARIZAR-->
    <!--ContenedorDeChat--> 
    <div class="colored-box" id="chatContainer"> 
        <div id="header-chat">
            <img mat-card-image id="img-title-group" src="assets/images/chayan.png">
            <button mat-fab (click)="_toggleOpened()">
                {{currentGroup}}
            </button>               
            <button mat-raised-button id="text-title-group">
                Titulo del grupo
            </button>            
            <div id="button-menu">
                <button mat-icon-button [matMenuTriggerFor]="menu" >
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="_toggleOpened()">Informacion del grupo</button>
                    <button mat-menu-item>Crear Formulario</button>
                  </mat-menu>
            </div>
        </div>
        <div class="options" fxflex="80" id="chatContainerDiv">
        <!--Mensajes--> 
       
        <div *ngFor="let mensaje of mensajes">
            <div> {{mensaje}} </div> <br>
        </div> 
        </div>
        <div id="text-area-chat" fxflex="10">
            <button mat-fab>
                <mat-icon>attachment</mat-icon>
                </button>
            <mat-form-field style="width: 88%;" appearance="fill" id="input-message">
                <input name="Mensaje-Input" #txtMensaje id="txtMensaje" matInput placeholder="Escribe un mensaje aquí" required [(ngModel)]="value">
                <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <div id="send-button" (click)='sendMensaje(txtMensaje.value)'>
                <button mat-fab color="primary" >
                <mat-icon>send</mat-icon>
                </button>
            </div>
        </div>            
    </div>
    <!--ContenedorCrearGrupo--> 
            <div class="colored-box" id="groupContainer">
                <div id="header-groupCreation">
                    <h3 id="text-title-group">
                        Creación de grupo
                    </h3>  
                    <button mat-fab  (click)="createComponent(1)" >
                        <mat-icon >cancel</mat-icon>
                    </button>            
                </div>
                <div class="options" id="contenedorCrearGrupo">
                    <div class="options1" id="contenedorCrearGrupo1" >
            
                    <div id="contenedorCrearGrupo1_1">
                        <div>
            
                            <!--NombreDeGrupo--> 
                            <h1>Nombre del grupo</h1><br>
                            <input id="idInputNombreDegrupo" name="groupName" type="text" ><br><br>
                            <h1>Descripción del grupo</h1><br>
                            <!--DescripcionDeGrupo--> 
                            <input id="idDescripcionDeGrupo" name="groupDescription" type="text"><br>
                        
                            <div>
            
                        <div id="contenedorCrearGrupo1_1_1" >
                            <div id="contenedorCrearGrupo1_1_2">
            
                            <!--BotónAgregarMiembro--> 
                                <button (click)="createComponent(3)" id="addMenmberButton" name="addMember"  > Agregar miembro</button><br>
                            </div>
            
                            <div id="listOfBembersDiv">
                            
                            <!--ListaDeMiembrosMiembros--> 
                                <h2> Miembros </h2>   
                            <div id="listOfMembers" name="MebersList" >
                                <div *ngFor="let miembro of miembros | keyvalue" >
                                    <h3>{{miembro.value.name}}</h3>
                                </div>
                            </div>      
                            </div>  
                        </div>    
                            
                    </div>    
                    </div>
                    </div>
                    </div>
                    <div id="contenedorCrearGrupo2" class="options2">
                    <div id="contenedorCrearGrupo2_1" >
                        <div id="#contenedorCrearGrupo2_1_1">
            
                    <!--ImagenDeGrupo--> 
            
                        <div>
                            <img name="groupImage" src="" >
                        </div>
                        </div>
                        <div id="createGroupButton">
            
                    <!--BotonParaCrearGrupo--> 
                        <div id="createGroupDiv">
                            <button (click)="createComponent(2)"  id="buttonCss" name="createGroup" > Crear</button>
                        </div> 
                        </div>
                    </div>
                    </div>
                </div>
            </div>
    
    <!--ContenedorAñadirMiembro-->         
            <div class="colored-box" id="addMemberContainer">
                <div id="header-groupCreation">
                    <h3 id="text-title-group">
                        Añadir miembro
                    </h3>  
                    <button mat-fab  (click)="createComponent(1)">
                        <mat-icon >cancel</mat-icon>
                    </button>            
                </div>
            <div id="addMemberContainerGroup_1" class="options">
                    <div id="addMemberContainerGroup_1_1" class="options1">
                    
                    <!--CampoParaBuscarUsuario--> 
                    <input id="fieldToSearchUser" name="searchUser" type="text" >
            
                    <div id="fieldToSeeUserLogo" >
                    
                    <!--CampoLogoDeUsuario--> 
            
                    <img name="userLogo" id="userLogo">
                    <div id="fieldToSeeUserInformation">
                    
                        <!--CampoNombreDeUsuario--> 
                        <h3 name="userName" >Nombre: {{userData.name}}</h3>
                    
                        <!--CampoIdDeUsuario--> 
                        <h3 name="userId">{{userData.id}}</h3>
                    </div>
                    <div id="fieldToSeeUserInformation2">
                        <!--CampoImagenDePerfil--> 
            
                        <img name="userImage">
                    </div>
                    <div id="fieldUserDescription" >
                    
                    <div>
                        <!--CampoDeDescripcionUsuario--> 
            
                        <h2 name="userDescription">Descripción: {{userData.description}}</h2>   
                        <!--BotonAñadirMiembro--> 
                        <button (click)="createComponent(2)" id="addMemberButton" name="addMemberButton"  class="addMemberButton" name=""> Añadir miembro</button>
                    </div>
                    </div>
                    </div> 
                </div>
            </div>
            </div>
    <!----------------------------------------------------------------------------------------------------------------------------------------------------------------------->
</div>

