<ng-sidebar-container 
(onBackdropClicked)="_onBackdropClicked()">
<ng-sidebar
[(opened)]="_opened"
[mode]="_MODES[_modeNum]"
[keyClose]="_keyClose"
[position]="_POSITIONS[_positionNum]"
[dock]="_dock"
[dockedSize]="'50px'"
[autoCollapseHeight]="_autoCollapseHeight"
[autoCollapseWidth]="_autoCollapseWidth"
[closeOnClickOutside]="_closeOnClickOutside"
[closeOnClickBackdrop]="_closeOnClickBackdrop"
[showBackdrop]="_showBackdrop"
[animate]="_animate"
[trapFocus]="_trapFocus"
[autoFocus]="_autoFocus"
[ariaLabel]="'My sidebar'"
(onOpenStart)="_onOpenStart()"
(onOpened)="_onOpened()"
(onCloseStart)="_onCloseStart()"
(onClosed)="_onClosed()"
(onTransitionEnd)="_onTransitionEnd()">

<div class="colored-box2" style="flex-direction: column; box-sizing: border-box; display: flex;">
  <div id="header-menu-group" style="flex: 1 1 100%; box-sizing: border-box; max-height: 5%;">
    <button mat-icon-button aria-label="Close" (click)="_toggleOpened()">
      <mat-icon>close</mat-icon>
    </button>
    <span id="text-header-menu">Información</span>
  </div>
  <div id="icon-name-group" fxflex="20" style="flex: 1 1 100%; box-sizing: border-box; max-height: 20%;">
    <div>
      <div class="groupImage-container">
        <div class="changeGroupImage" *ngIf="this.si" (click)="changeGroupPicture()">
          <div class="GroupImageLabels">
              <mat-icon style="margin-left: 40%;">camera_alt</mat-icon> 
              <span style="color: white; text-align: center;  margin-left: -0px; font-size: small;">CAMBIAR FOTO DEL GRUPO</span> 
          </div>
          <div id="changeGroupPMask"></div>
          <input type="file" id="btnDiscretFileGroup" style="display: none;" name="profileImage">
        </div>
        <img  [src]="currentGroupProfileP " style="border-radius: 50%; display: block; margin-left: auto; margin-right: auto; padding-top: 10px; width: 20%;" width="100" height="100">
                                        <!--|| 'assets/images/chayan.png'-->
      </div>  
    </div> 
    <div style="display: flex;" id="groupNameElementsContainer">
      <h1  style="padding-left: 2%; color: white; font-size: 30px;" id="label-nombreGrupo">
          <!--Recibe el nombre del grupo-->
          {{currentGroup}}
      </h1>
      <!--Botón para cambiar el nombre del grupo-->
      <button *ngIf="this.si" mat-icon-button
              id = "changeNameButton"                 

              (click)="replaceItem('label-nombreGrupo','changeNameButton','nombre')">
              <mat-icon>update</mat-icon>
      </button>
    </div>
  </div>
  <div id="description-group" fxflex="15" style="flex: 1 1 100%; box-sizing: border-box; max-height: 15%;">
    <h1 style="padding-top: 4%; color: black; font-size: 25px;">DESCRIPCIÓN</h1>
    <div style="display: flex;">
      <p id="labelGroupDescription" >{{currentDescription}}</p>
      <!--Botón para cambiar la información de grupo -->
      <button *ngIf="this.si" mat-icon-button
              id="btnChangeDescription"
              (click)="replaceItem('labelGroupDescription','btnChangeDescription','descripcion')">
              <mat-icon>update</mat-icon>
      </button>
    </div>
  </div>
  <div id="assign-homework-group" fxflex="5" style="flex: 1 1 100%; box-sizing: border-box; max-height: 5%;">
    <button mat-raised-button 
    style="width: 100%; 
    background-color: 
    white;"
    (click)="_toggleOpened()" 
    (click)="addMemberToGroup()"
    *ngIf="si"
    >Añadir miembro</button>
  </div>
  <div id="assign-homework-group" fxflex="5" style="flex: 1 1 100%; box-sizing: border-box; max-height: 5%;">
    <button mat-raised-button 
    style="width: 100%; 
    background-color: white;" 
    (click)="_toggleOpened()"
    (click)="isAdmin()"    
    >
    Lista Tareas</button>
  </div>
  <div id="text-members-group" fxflex="5" style="flex: 1 1 100%; box-sizing: border-box; max-height: 5%;">
    <h1 style="float: left;">Integrantes</h1>
  </div>
  <div id="members-group" fxflex="35" style="flex: 1 1 100%; box-sizing: border-box; max-height: 35%;">
    <cdk-virtual-scroll-viewport itemSize="50" class="list-members">
      <div *ngFor="let item of currentMembers | keyvalue" class="member-item">
        <button mat-button [matMenuTriggerFor]="menu" style="height: 100%; width: 100%;">
          {{(this.currentUserId === item.value.id.toString())? "Tú":item.value.nombre}}
        </button>
        <mat-menu  #menu="matMenu" >
        <span  *ngIf="si">
          <button mat-menu-item (click)="deleteMember(item)">Eliminar del grupo</button>
          <button mat-menu-item (click)="makeAdmin(item)" *ngIf='!isIntegrantAdmin(item.value.id); else quitAdmin' >Hacer administrador</button>
          <ng-template #quitAdmin ><button mat-menu-item (click)="deleteAdmin(item)">Quitar derechos de administrador</button></ng-template>
        </span>
        </mat-menu>
      </div>   
    </cdk-virtual-scroll-viewport> 
  </div>  

  <div id="buttons-group" fxflex="10" style="flex: 1 1 1e-09px; box-sizing: border-box; max-height: 10%;">
    <button style="height: auto;" mat-raised-button (click)="_toggleOpened()">Salir del grupo</button><br>
    <button style="height: auto; margin-top: 0.9%;" mat-raised-button (click)="_toggleOpened()">Reportar grupo</button>
  </div>
</div>  
</ng-sidebar>

<div ng-sidebar-content style="height: 100%; width: 100%;" id="mainbody" >  
  <!--BARRA DE CARGA-->
  <div class="loader-container" *ngIf="loaderService.isLoading | async">    
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <!--PERFIL DE USUARIO-->
  <div class="userProfile" id="userProfileContainer" #userP>
    <div class="userProfileHeader">
      <div class="headerInfo">
        <b><mat-icon style="color: white; font-size: 30px; margin-left: 10px; cursor: pointer;"(click)="userP.style.display='none'">keyboard_backspace</mat-icon> <span>Perfil</span></b>
      </div>
    </div>
    <div class="userInfo">
      <div>
        <div class="image-container" (click)="changeProfilePicture()">
          <div id="imageInfoContainer">
            <div id="changeProfileLabel">          
              <mat-icon style="margin-left: 35%;">camera_alt</mat-icon> 
              <span style="color: white; text-align: center;  margin-left: -0px; ">CAMBIAR FOTO DEL PERFIL</span>          
            </div>

            <div id="changeProfilePicture">          
            </div>               
            <input type="file" id="btnDiscretFile" style="display: none;" name="profileImage"/>
          </div>
          <img  [src]="currentUser?.fotoPerfil || 'assets/images/chayan.png'"  id="profile-image" height="150" width="150"/>
        </div>            
      </div>
      <span  style="color: whitesmoke;">Tú nombre</span>
      <div id="nameContainer">
        <span id="lblCurrentUserName" style="color: rgba(245, 245, 245, 0.863);">{{currentUser?.nombre }}</span><mat-icon style="float: right;" (click)="replaceItemProfileInfo('lblCurrentUserName','btnNameEdit','nombre')" id="btnNameEdit">edit</mat-icon>
      </div>
      <hr style="width: 99%; border: 1px solid black;">
      <span style="color: whitesmoke;">Descripción</span>
      <div id="userDescription">
        <span id="lblCurrentDesc" style="color: rgba(245, 245, 245, 0.863);">{{currentUser?.descripcion}}</span><mat-icon style="float: right;" id="btnDescEdit" (click)="replaceItemProfileInfo('lblCurrentDesc','btnDescEdit','descripcion')">edit</mat-icon>
      </div>
      <hr style="width: 99%; border: 1px solid black;">
      <span style="color: whitesmoke;">Correo</span>
      <div id="userMail">
        <span style="color: rgba(245, 245, 245, 0.863);">{{currentUser?.email}}</span>
      </div>
      <b><p id="userId">ID: {{currentUserId}} </p></b>
    </div>
    <button mat-raised-button style="float: right; margin-right: 10px;" (click)="closeSession()">Cerrar sesión</button>
  </div>
  <!--PERFIL DE USUARIO-->

    <!-------------------------------------------------------------------------------------Esta seccion es Home - Pagina---------------------------------------------------------------------------------->
    <div class="colored-box" style="flex-direction: row; box-sizing: border-box; display: flex;">      
      <!-------------------------------------------------------BARRA DE NAVEGACIÓN-------------------------------------------------------------------->
          <div style="flex: 1 1 100%; box-sizing: border-box; max-width: 5%; " class="menu">
            <div class="logo">
                <img src="assets/images/logo.png" height="80px" width="80px">
            </div>
            <div class="button-container" style="display: flex; justify-content: center;" >              
                <button mat-fab color="primary" (click)="openCalendar()">
                <mat-icon >calendar_today</mat-icon><br><br>
                <span style="margin-left: -7px;">Calendario</span>
                </button>
            </div>
            <div class="button-container" style="display: flex; justify-content: center;">
              <button mat-fab color="primary" (click)="openGroups()">
              <mat-icon>groups</mat-icon><br><br>
              <span style="margin-left: -7px;">Grupos</span>
              </button>
          </div>
          <div class="button-container" id="button-reporte" style="display: flex; justify-content: center;">
            <button mat-fab color ="primary"  (click)="abrirReporte(1)">
              <mat-icon> build </mat-icon><br><br>
              <span style="margin-left: -7px;">Reportar</span>
            </button>
          </div>
            <div class="button-container" id="button-usuario" style="display: flex; justify-content: center;">
                <button mat-fab 
                color="primary"
                (click)="openProfile()">
                <mat-icon>person</mat-icon><br><br>
                <span style="margin-left: -7px;">Perfil</span>
                </button>
            </div>
            
          </div>
        <div id="PaginaDeModulos" style="width: 100%; height: 100%; background-image:url('../../assets/images/fondo.jpg');">

          <div  style="width: 100%; height: 100%; display: block;" id="idComponents">
            <template #template1 [ngComponentOutlet]="currentComponent"
            [ndcDynamicInputs]="inputs"
            [ndcDynamicOutputs]="outputs"
            ></template>
          </div>
         

            <!-------------------------------------------------------BARRA DE GRUPOS-------------------------------------------------------------------->
            <div fxflex="20" style="float: left ;box-sizing: border-box; width: 20%;height: 100%;display: block; " class="submenu" id="submenu1">
              <div class="colored-box" style="flex-direction: column; box-sizing: border-box; display: flex;">
                  <div class="options" style="flex: 1 1 100%; box-sizing: border-box; max-height: 25%;">
                      <h3>Opciones</h3>
                      <button (click)="hclick=true" (click)='addMemberCommon()' (click)="this.cleanCreateGroupFields()">Crear grupo</button>
                  </div>
                  <div class="my-groups" style="flex: 1 1 1e-09px; box-sizing: border-box;" >
                      <h3>Mis Grupos</h3>
                      <div *ngFor="let grupo of grupos | keyvalue">
                      <!--TODO: Crear en forma de ListView y arreglar problema con los nombres-->
                      <button mat-raised-button 
                        (click)='showGroup(grupo.value)' 
                        name='grupo.value.informacion.nombre' 
                        id="btnC"
                       
                      >{{grupo.value.informacion.nombre}}</button>             W   
                      </div>                
                  </div>
              </div>
          </div>   
        
          <!---------------------------VISTAS DE GRUPOS--------------------------------->
            <div  style=" width:80%;float: right ;flex: 1 1 0%; box-sizing: border-box; height: 100%; background-image:url('../../assets/images/fondo.jpg'); " class="chat" id="principalContainer" >
            
              <!--VISTAS DE GRUPOS--> 
              <ng-template #groupContainer></ng-template>
        
          <!--ContenedorDeChat
            <app-chat-group (openDialogEvent)="openDialog()" (myEvent)="_toggleOpened()" [mensajes]="mensajes" (myEventSendMessage)="sendMensaje($event)"[currentGroupId]="this.currentGroupId" [currentUser]="this.currentUser" [currentGroup]="this.currentGroup">
            </app-chat-group>
       
            <app-create-group (myEvent2)="createGroup()" (myEvent)="createComponent($event)" [miembros]="miembros" ></app-create-group>
               
            <app-add-member (addUserEvent)="addUser()" (addMemberEvent)="addMember()" (buscarMiembroEvento)="searchUser($event)" (myEvent)="createComponent($event)" [userData]="userData"></app-add-member>
            </div>--> 
          <!----------------------------------------------------------------------------------------------------------------------------------------------------------------------->    
        
        </div>
    </div>
</div> 

