.colored-box{
    height: 93.4%;
    width: 100%;
}
.colored-box2{
    height: 100%;
    width: 100%;
}
.exa|ple-spacer {
    flex: 1 1 auto;
  }
.navbar-calender{
    background-color: #143058;
    color: white;
}
.buttonBot{
    height: 30px;
    width: 500px;
    display: block; 
    margin-left: auto; 
    margin-right: auto;    
}
.cuerpo{
    padding: 20px;
}
#comun{
    margin-top: 15px; 
    width: 50%; 
    height: 30px;
}
.btn{
    background-color: #3386FF;
    height: 50px;
    width: 100px;
    float: right;
    color: white;    
    border: none;
    cursor: pointer;
}
.btn2{
    margin-top: 20px;
    background-color: #3386FF;
    height: 50px;
    width: 200px;
    color: white;    
    border: none;
    cursor: pointer;
}
.opciones{
    padding: 20px;
}
.opcionesDiv{
    height: 30px;
    width: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.blackborder {
    border: 1px solid black;
}