<mat-toolbar class="navbar-calender">
    <span>Crear Formulario</span>
    <span class="example-spacer"></span>
    <button mat-icon-button routerLink="/home">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>

<div class="colored-box" style="flex-direction: row; box-sizing: border-box; display: flex;">
    <div style="flex: 1 1 100%; box-sizing: border-box; max-width: 25%; background-color: #f6f6f6;"> 
        </div>
    <div fxflex="50" style="flex: 1 1 100%; box-sizing: border-box; max-width: 50%; overflow-y: scroll;"> 

        <form [formGroup]="formulario">
          <div class="cuerpo">
            <div>
              <label style="font-size: 30px;">Pregunta:</label><br />
              <input placeholder="Pregunta" id="comun" type="text" />
            </div>
            <button (click)="anadirExperienciaLaboral()" class="btn2">Agregar Opción</button>
            <mat-checkbox color="primary" style="float: right;">Varias Respuestas</mat-checkbox>
            <div formArrayName="experienciaLaboral" style="margin-top: 10px;">
                <div *ngFor="let trabajo of experienciaLaboral.controls; let i = index;">
                    <div style="background-color: dodgerblue; margin-top: 1px; padding-bottom: 10px;">
                    <mat-icon>keyboard_arrow_right</mat-icon>
                    <input placeholder="Opción {{i+1}}" id="comun" type="text"/>
                    <button mat-icon-button (click)="borrarTrabajo(i)" style="float: right; margin-top: 10px;" *ngIf="i>0">
                      <mat-icon>delete</mat-icon>
                    </button>
                    </div>
                </div>
            </div>
            <div style="margin-top: 20px;">
              <mat-checkbox color="primary" style="float: left;">Compartir respuesas luego de votar</mat-checkbox>
              <button class="btn" routerLink="/home">Crear</button>
            </div>            
          </div>
          </form>

    </div>
    <div fxflex="25" style="flex: 1 1 0%; box-sizing: border-box; max-width: 25%; background-color: #f6f6f6;"> 
    </div>
</div>