<div class="colored-box" id="chatContainer"> 
    <div id="header-chat">
        <img mat-card-image id="img-title-group" [src]="currentGroupProfileP||'assets/images/chayan.png'" style="float: left;" width="100" height="100">         
        <button mat-raised-button id="text-title-group" (click)="_toggleOpened()">
            {{currentGroup}}
        </button>            
        <div id="button-menu">
            <button mat-icon-button [matMenuTriggerFor]="menu" >
                <mat-icon>more_vert</mat-icon>
            </button>                   
            <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="_toggleOpened()">Informacion del grupo</button>
            <button mat-menu-item (click)="abrirDialog()">Crear Formulario</button>
            </mat-menu>
        </div> 
    </div>
    <div class="options" fxflex="80" id="chatContainerDiv">
    <!--Mensajes-->
        <div *ngFor="let mensaje of eventosChat"  >
            <!--DIV PARA EL MENSAJE-->
            <div *ngIf="mensaje.type === 1; else formDiv" class="mensajeDiv" style="overflow: visible;"
            [ngStyle]="{
                'background-color':mensaje.user === this.currentUser.id ? '#4a83d9' : 'white',
                'float':mensaje.user === this.currentUser.id ? 'right' : 'left',
                'text-align':mensaje.user === this.currentUser.id ? 'right' : 'left'
            }">
            <h3 *ngIf="mensaje.user !== this.currentUser.id; else showH" class="messageName"><strong>{{mensaje.name}} </strong> &nbsp; <span style="float: right;">{{mensaje.time.getHours().toString() +':'+ mensaje.time.getMinutes().toString()}}</span> </h3>
                {{mensaje.message}} 
            <ng-template #showH> <h4> {{mensaje.time.getHours().toString() +':'+ mensaje.time.getMinutes().toString()}} </h4> </ng-template>
            <button mat-icon-button class="messageOptions" [matMenuTriggerFor] = "menu" [ngStyle]="{'background-color':mensaje.user === this.currentUser.id ? '#3B65A5' : '#E9E9E9'}">
                <mat-icon>arrow_downward</mat-icon>
            </button>
                <mat-menu  #menu="matMenu" >
                    <span> <!--<span  *ngIf="this.si">-->
                    <button mat-menu-item >Pinnear Mensaje</button>                  
                    </span>
                </mat-menu>
            </div> <br>
            <!--DIV PARA EL FORMULARIO-->
            <ng-template #formDiv>       
                <div class="formContainer">                     
                    <app-formulario [canSend]="mensaje.respuestas.includes(currentUser.id)" *ngIf="mensaje.type===2" [currentUserId]="currentUser.id" [cantidadVotos]="mensaje.cantidadVotos" [values]="mensaje.valores" [idForm]="mensaje.idForm" [pregunta]="mensaje.cuestion" [preguntas]="mensaje.cuestions" [multipleAnswer]="mensaje.multipleAnswer" [membersLength]="mensaje.CurrentMembersLength"></app-formulario>
                    <!--<app-formulario *ngIf="mensaje.type===2" [currentUserId]="currentUser.id" [cantidadVotos] = "mensaje.cantidadVotos" [values]="valuesForm[mensaje.idForm].valores" [idForm]="mensaje.idForm" [pregunta]="mensaje.cuestion" [preguntas]="mensaje.cuestions" [multipleAnswer]="mensaje.multipleAnswer" [membersLength]="mensaje.CurrentMembersLength"></app-formulario>-->
                </div>
            </ng-template>
        </div>        
    </div>
    <div id="text-area-chat" fxflex="10">
        <button mat-fab color="primary">
            <mat-icon >attachment</mat-icon>
            </button>
        <mat-form-field style="width: 88%;" appearance="fill" id="input-message">
            <input name="Mensaje-Input" #txtMensaje id="txtMensaje" matInput placeholder="Escribe un mensaje aquí" required [(ngModel)]="value" >
            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <div id="send-button" (click)='sendMensaje(txtMensaje.value)'>
            <button mat-fab color="primary" >
            <mat-icon>send</mat-icon>
            </button>
        </div>
    </div>            
</div>
<!--<app-crear-formulario ></app-crear-formulario>-->