<div class="colored-box" id="chatContainer"> 
    <div id="header-chat">
        <img mat-card-image id="img-title-group" src="assets/images/chayan.png" style="float: left;">         
        <button mat-raised-button id="text-title-group" (click)="_toggleOpened()">
            {{currentGroup}}
        </button>            
        <div id="button-menu">
            <button mat-icon-button [matMenuTriggerFor]="menu" >
                <mat-icon>more_vert</mat-icon>
            </button>                   
            <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="_toggleOpened()">Informacion del grupo</button>
            <button mat-menu-item routerLink="/form">Crear Formulario</button>
            </mat-menu>
        </div> 
    </div>
    <div class="options" fxflex="80" id="chatContainerDiv">
    <!--Mensajes-->
        <div *ngFor="let mensaje of mensajes" >
            <div class="mensajeDiv" 
            [ngStyle]="{
                'background-color':mensaje.user === 1 ? '#4a83d9' : 'white',
                'float':mensaje.user === 1 ? 'right' : 'left',
                'text-align':mensaje.user === 1 ? 'right' : 'left'
            }">
            <h3 *ngIf="mensaje.user != 1" class="messageName">{{mensaje.name}}</h3>
                {{mensaje.message}} 
            
            <button mat-icon-button class="messageOptions" [matMenuTriggerFor] = "menu" [ngStyle]="{'background-color':mensaje.user === 1 ? '#3B65A5' : '#E9E9E9'}">
                <mat-icon>arrow_downward</mat-icon>
            </button>
                <mat-menu  #menu="matMenu" >
                    <span> <!--<span  *ngIf="this.si">-->
                    <button mat-menu-item >Pinnear Mensaje</button>                  
                    </span>
                </mat-menu>
            </div> <br>
        </div>

    </div>
    <div id="text-area-chat" fxflex="10">
        <button mat-fab color="primary">
            <mat-icon >attachment</mat-icon>
            </button>
        <mat-form-field style="width: 88%;" appearance="fill" id="input-message">
            <input name="Mensaje-Input" #txtMensaje id="txtMensaje" matInput placeholder="Escribe un mensaje aquí" required [(ngModel)]="value" >
            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <div id="send-button" (click)='sendMensaje(txtMensaje.value)'>
            <button mat-fab color="primary" >
            <mat-icon>send</mat-icon>
            </button>
        </div>
    </div>            
</div>