<div style="width:auto;height:auto; background-color: #f6f6f6;">


  <mat-toolbar class="navbar-calender">
    <span>Calificar Tareas</span>
    <span class="example-spacer"></span>
    <button mat-icon-button (click)="abrirLista()">
      <mat-icon>close</mat-icon>
    </button>
    
  </mat-toolbar>

  <div class="text-assign" style="background-color: white;">
    <h1><b>Grupo: </b> {{tarea}}</h1>
    <h1><b>Entregados: </b> {{tareaSeleccionada.tareasEntregadasUsuarios.length}} &nbsp;|&nbsp; No Entregados {{noentregados}}</h1>
    <button mat-raised-button color="primary" style="margin-bottom: 2%;" (click)="DescargarRegistroDeTareas()" >Descargar registro de tareas</button><br>

</div>
<div class="example-container mat-elevation-z8" style="background-color: #f6f6f6;">
  <table mat-table [dataSource]="data" class="mat-elevation-z8" style="background-color: white;">
    <ng-container matColumnDef="Nombre">
      <th mat-header-cell *matHeaderCellDef> Codigo de Estudiante </th>
      <td mat-cell *matCellDef="let element"> {{element.idEstudiante}} </td>
    </ng-container>

    <ng-container matColumnDef="Estado">
      <th mat-header-cell *matHeaderCellDef> Estado </th>
      <td mat-cell *matCellDef="let element"> Entregado </td>
    </ng-container>
  
    <ng-container matColumnDef="Puntaje">
      <th mat-header-cell *matHeaderCellDef> Puntaje /{{puntaje}} </th>
      <td mat-cell *matCellDef="let element"> <!--{{element.puntaje}}-->
        <mat-form-field style="width: 10%; margin-top: 5px; float: left;">
            <input id="puntajeInput" matInput placeholder="/{{puntaje}}" max="{{puntaje}}"  #valueInput value="{{element.calificacion}}" (blur)="onBlur(valueInput.value)">
          </mat-form-field>
          <div>
            <button style="float: left;" mat-mini-fab color="danger"  (click)="calificarTarea(element)">
              <mat-icon>check_circle_outline</mat-icon>
            </button>
          </div>
          
          <div class="button-download">
            <button mat-mini-fab color="primary"  (click)="descargarTarea(element)">
              <mat-icon>cloud_download</mat-icon>
            </button>
          </div>
          <span style="float: right; margin-top: 20px;" >Descargar Tarea</span>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>


</div>



