<!--<mat-toolbar class="navbar-calender">
    <span>Inicio</span>
    <span class="example-spacer"></span>
    <button mat-raised-button color="primary" routerLink="/register">Registrarse</button>&nbsp;
    <button mat-raised-button color="primary" routerLink="/login">Iniciar Sesión</button>
</mat-toolbar>
  
<div class="main">
      <span style="font-size: 100px;">MEAN</span><br>
    <img src="assets/images/logo.png" style="height: 500px; width: 500px;"><br>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer neque elit, mollis et tortor sit amet, suscipit condimentum lorem. Sed nisl est, convallis sed nulla eget, varius consequat sapien. Donec eu maximus lectus, in vestibulum libero. Nullam a commodo risus. Aenean nibh leo, pretium ut consequat id, dignissim a turpis. Cras ut posuere eros. Phasellus ut libero lobortis, venenatis mauris vitae, lacinia massa. Phasellus ultrices magna nunc, eget finibus nisl sollicitudin consequat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse enim lorem, vestibulum sed facilisis lacinia, dignissim vitae velit. Vestibulum porttitor dui ut finibus rutrum. Duis efficitur nisl in ipsum pretium bibendum. Maecenas accumsan justo sit amet consectetur porta. Sed vitae semper mauris. Pellentesque dictum mauris vel erat placerat porttitor.

Nulla facilisi. Donec posuere ac nisi nec tristique. Nam sed nibh et tortor cursus ornare a et neque. Sed suscipit venenatis semper. Morbi lacinia ex eget enim auctor, a malesuada lorem consequat. Nullam efficitur, ante eu condimentum rutrum, turpis turpis mattis tellus, vitae placerat purus leo vitae magna. Aenean semper fringilla sem, vel elementum urna ullamcorper ac. Mauris vulputate ligula id augue sodales scelerisque. In et purus id sapien viverra congue at a massa. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam dictum mauris ac dolor aliquam placerat commodo sed libero. Curabitur sit amet magna vel orci auctor semper. Quisque viverra interdum leo, ac volutpat quam vehicula eget.

Nulla ut scelerisque diam. In hac habitasse platea dictumst. Nullam finibus sapien eget pretium sagittis. Donec convallis fringilla sapien, id vulputate magna luctus consequat. In rhoncus risus ac tempor molestie. In hac habitasse platea dictumst. Fusce quis purus tempor, posuere risus vel, ullamcorper felis. Quisque pharetra enim in commodo tempor. Vestibulum pharetra purus venenatis, ullamcorper sapien sit amet, posuere massa. Phasellus iaculis, urna id mollis tincidunt, arcu dui molestie elit, eu pellentesque purus eros id risus. Cras interdum risus accumsan lectus euismod cursus vitae et nisi. In sollicitudin ipsum ut ipsum sagittis, eget vulputate tortor dignissim. Cras metus neque, sagittis sit amet ultricies non, ultrices quis arcu. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

Nam mattis libero et nisi hendrerit consectetur. Nulla facilisi. Fusce a dui nec diam faucibus consectetur. Morbi maximus enim ac lorem pellentesque, at scelerisque nulla finibus. Donec ornare felis in convallis vestibulum. Sed id arcu quis mi posuere molestie. Sed vel dui eu ipsum fermentum condimentum non vitae enim. Etiam nec accumsan odio, tempus imperdiet ex. Proin sapien nulla, sodales ornare ipsum a, lacinia aliquet nisi. Vestibulum a quam dui. Nam vulputate volutpat molestie. Phasellus eget lacinia massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

Donec vitae laoreet lorem. Nam sagittis dui eget vestibulum feugiat. Ut malesuada sapien nisi, ut vehicula quam convallis eget. Maecenas luctus porta turpis, nec lacinia diam finibus et. Quisque at magna ut orci commodo elementum sed ut nibh. Suspendisse potenti. Nulla ac aliquam urna, ut venenatis tortor. Pellentesque tincidunt bibendum euismod. Maecenas in suscipit ante. Phasellus tempus, velit vel luctus vestibulum, mi odio pulvinar risus, vel consequat velit libero non erat. Cras ut mi ac dui accumsan malesuada eget vitae augue. Etiam finibus sapien at scelerisque finibus.
  </div>-->
  <div class="header">
    <video width="1000" height="500" autoplay playsinline >
      <source src="../../assets/images/MeanLogo.mp4" type="video/mp4" />
    </video>
  </div>
  
  
  <div class="navbar">
    <div id="nameNav">
    <span >MEAN</span>    
    <a routerLink="/register" class="right">Registrarse</a>
    <a routerLink="/login" class="right">Iniciar Sesión</a>
    </div>
  </div>    
  <div id="section1">
    <h1 class="subtitle">Obtenga una mejor y más sencilla</h1>
    <h2 class="subtitle"> <strong>comunicación con MEAN</strong></h2>
    <p>Aprenda como nuestra plataforma para la comunicación de forma asíncrona le permite una <br> interracción mucho 
      más sencilla con otros usuarios en linea de una forma <br> rápida , sencilla y sin aplicaciones de por medio.
    </p>
    <div id="section1_2">
      <div id="section1_2_1">
        <h1 class="subtittle_"><strong>Mean para celular</strong></h1>
        <p>Revise la aplicación de Mean, disponible para Android e ios, <br> con la aplicación móvil podrá gozar de nuevas funciones de la plataforma
          <br> como el uso de sensores para autenticación, geolocalización y más.
        </p>
      </div>
      <div style="width: 200px;"></div>
      <div id="section1_2_2">
        <div (click)="desvanecerFicha()">
          <img class="mobileCard" src="../../assets/images/Pantalla5.png" height="700" width="400"/>
          <img class="mobileCard" src="../../assets/images/Pantalla4.png" height="700" width="400"/>
          <img class="mobileCard" src="../../assets/images/Pantalla3.png" height="700" width="400"/>
          <img class="mobileCard" src="../../assets/images/Pantalla2.png" height="700" width="400"/> 
          <img class="mobileCard" style="opacity: 1;" src="../../assets/images/Pantalla1.png" height="700" width="400"/>
          <img  src="../../assets/images/MarcoMovil.png" height="700" width="400"/>          
        </div>
        
      </div>
    </div>
  </div>
  <div id="section_2">
    <h1 class="subtittle_"> <strong>Ventajas del uso de Mean</strong></h1>
    <p class="paragraphs">Todas las ventajas que ofrece el uso de nuestra plataforma gratuita</p>
    <div class="advantages">
      <div >
        <mat-icon style="margin-left: -25px;">stay_primary_portrait</mat-icon><br><br>
        <h3 class="subtittle_" style="font-size: 18px;"> <strong>Multiples plataformas</strong></h3>
        <p class="paragraphs" style="font-size: 16px; margin-top: -5px;"> Mean se encuentra disponible para Android, Ios y Windows Phone. </p>
      </div>
      <div >
        <mat-icon style="margin-left: -25px;">check</mat-icon><br><br>
        <h3 class="subtittle_" style="font-size: 18px;"> <strong>Facilidad de uso</strong></h3>
        <p class="paragraphs" style="font-size: 16px; margin-top: -5px;"> Diseño intuitivo, Mean posse un diseño sencillo y fácil de recordar. </p>
      </div>
      <div >
        <mat-icon style="margin-left: -25px;">merge_type</mat-icon><br><br>
        <h3 class="subtittle_" style="font-size: 18px;"> <strong>Multiples funcionalidades</strong></h3>
        <p class="paragraphs" style="font-size: 16px; margin-top: -5px;"> Chat grupal, Asignación de tareas, recordatorios, reportes y mucho más. </p>
      </div>      
    </div>
  </div>
  <div id="section3">
    <h1 class="subtittle_"> <strong>Cambiando vidas</strong></h1>
  </div>
    <div id="galleryContainer" >
      <div class="card card-wide" style="background-image: url('https://www.noorulislam.org.uk/wp-content/uploads/2020/03/dawah-to-children-muslim-family-deenspiration-SMALL-1280x640-1.jpg');"></div>
      <div class="card card-tall" style="background-image: url('https://image.freepik.com/free-photo/portrait-happy-graduating-student_53419-125.jpg');"></div>
      <div class="card" style="background-image: url('https://media.istockphoto.com/photos/time-to-bring-our-best-picture-id966297342?k=6&m=966297342&s=612x612&w=0&h=JHjKlp2L9H2pPN-wX-rsWbIl_ZwJnKKjrvZitTqzWGk=');"></div>
      <div class="card card-wide" style="background-image: url('https://www.seu.edu/wp-content/uploads/2020/05/graduation-photo.jpg');"></div>
      <div class="card" style="background-image: url('https://online.egr.msu.edu/wp-content/themes/msu/images/blog/what-can-you-do-masters-civil-engineering.jpg');"></div>
      <div class="card" style="background-image: url('https://images.ctfassets.net/yzn2zv0qt1y1/7mqVoktXK399DnRuASSUMP/a82d8a36b5034c375df306b472113f4a/iStock_000045944318_Large_Sunday_HS_Tips.jpg?w=750');"></div>
      <div class="card" style="background-image: url('https://www.tuv.com/content-media-files/master-content/services/systems/0319-tuv-rheinland-advanced-training-for-working-professionals/tuv-rheinland-advanced-training-for-working-professionals.jpg');"></div>
      <div class="card card-wide" style="background-image: url('http://static.fmgsuite.com/media/images/6c5c2e88-662d-40b6-95d3-aeb5ea1abe6a.jpg');"></div>
      <div class="card" style="background-image: url('https://mk0all4edorgjxiy8xf9.kinstacdn.com/wp-content/uploads/2017/05/Happy-student-e1495552101160.jpg');"></div>    
      <div class="card" style="background-image: url('https://centerstone.org/wp-content/uploads/Blended-family-550x413.jpg');"></div>          
      <div class="card card-wide" style="background-image: url('https://thumbs.dreamstime.com/b/estudiante-success-learning-concep-de-la-graduaci%C3%B3n-de-la-educaci%C3%B3n-de-la-celebraci%C3%B3n-66881974.jpg');"></div>
      <div class="card" style="background-image: url('https://reachingrecovery.org/wp-content/uploads/2012/06/Stock_Pair_Coworkers_600x400_mr.jpg');"></div>
      <div class="card" style="background-image: url('https://www.parallaxuk.com/wp-content/uploads/2017/02/pluralist.jpg');"></div>
      <div class="card card-wide" style="background-image: url('https://i0.wp.com/jayfeitlinger.com/wp-content/uploads/2017/04/happy-family-e1504619253464.jpg?fit=1500%2C855&ssl=1');"></div>
      <div class="card" style="background-image: url('https://static.onecms.io/wp-content/uploads/sites/23/2020/05/13/graduation-advice-tips-2000.jpg');"></div>      
      
    </div>  

<div class="footer">
  <h2>¿Que esperas para unirte a la comunidad?</h2>
  <button mat-raised-button routerLink="/register" style="background-color: #143058; color: white;">Registrarse</button>&nbsp;
  <button mat-raised-button routerLink="/login" style="background-color: #143058; color: white;">Iniciar Sesión</button>
</div>