<!--<mat-toolbar class="navbar-calender">
    <span>Inicio</span>
    <span class="example-spacer"></span>
    <button mat-raised-button color="primary" routerLink="/register">Registrarse</button>&nbsp;
    <button mat-raised-button color="primary" routerLink="/login">Iniciar Sesión</button>
</mat-toolbar>
  
<div class="main">
      <span style="font-size: 100px;">MEAN</span><br>
    <img src="assets/images/logo.png" style="height: 500px; width: 500px;"><br>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer neque elit, mollis et tortor sit amet, suscipit condimentum lorem. Sed nisl est, convallis sed nulla eget, varius consequat sapien. Donec eu maximus lectus, in vestibulum libero. Nullam a commodo risus. Aenean nibh leo, pretium ut consequat id, dignissim a turpis. Cras ut posuere eros. Phasellus ut libero lobortis, venenatis mauris vitae, lacinia massa. Phasellus ultrices magna nunc, eget finibus nisl sollicitudin consequat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse enim lorem, vestibulum sed facilisis lacinia, dignissim vitae velit. Vestibulum porttitor dui ut finibus rutrum. Duis efficitur nisl in ipsum pretium bibendum. Maecenas accumsan justo sit amet consectetur porta. Sed vitae semper mauris. Pellentesque dictum mauris vel erat placerat porttitor.

Nulla facilisi. Donec posuere ac nisi nec tristique. Nam sed nibh et tortor cursus ornare a et neque. Sed suscipit venenatis semper. Morbi lacinia ex eget enim auctor, a malesuada lorem consequat. Nullam efficitur, ante eu condimentum rutrum, turpis turpis mattis tellus, vitae placerat purus leo vitae magna. Aenean semper fringilla sem, vel elementum urna ullamcorper ac. Mauris vulputate ligula id augue sodales scelerisque. In et purus id sapien viverra congue at a massa. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam dictum mauris ac dolor aliquam placerat commodo sed libero. Curabitur sit amet magna vel orci auctor semper. Quisque viverra interdum leo, ac volutpat quam vehicula eget.

Nulla ut scelerisque diam. In hac habitasse platea dictumst. Nullam finibus sapien eget pretium sagittis. Donec convallis fringilla sapien, id vulputate magna luctus consequat. In rhoncus risus ac tempor molestie. In hac habitasse platea dictumst. Fusce quis purus tempor, posuere risus vel, ullamcorper felis. Quisque pharetra enim in commodo tempor. Vestibulum pharetra purus venenatis, ullamcorper sapien sit amet, posuere massa. Phasellus iaculis, urna id mollis tincidunt, arcu dui molestie elit, eu pellentesque purus eros id risus. Cras interdum risus accumsan lectus euismod cursus vitae et nisi. In sollicitudin ipsum ut ipsum sagittis, eget vulputate tortor dignissim. Cras metus neque, sagittis sit amet ultricies non, ultrices quis arcu. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

Nam mattis libero et nisi hendrerit consectetur. Nulla facilisi. Fusce a dui nec diam faucibus consectetur. Morbi maximus enim ac lorem pellentesque, at scelerisque nulla finibus. Donec ornare felis in convallis vestibulum. Sed id arcu quis mi posuere molestie. Sed vel dui eu ipsum fermentum condimentum non vitae enim. Etiam nec accumsan odio, tempus imperdiet ex. Proin sapien nulla, sodales ornare ipsum a, lacinia aliquet nisi. Vestibulum a quam dui. Nam vulputate volutpat molestie. Phasellus eget lacinia massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

Donec vitae laoreet lorem. Nam sagittis dui eget vestibulum feugiat. Ut malesuada sapien nisi, ut vehicula quam convallis eget. Maecenas luctus porta turpis, nec lacinia diam finibus et. Quisque at magna ut orci commodo elementum sed ut nibh. Suspendisse potenti. Nulla ac aliquam urna, ut venenatis tortor. Pellentesque tincidunt bibendum euismod. Maecenas in suscipit ante. Phasellus tempus, velit vel luctus vestibulum, mi odio pulvinar risus, vel consequat velit libero non erat. Cras ut mi ac dui accumsan malesuada eget vitae augue. Etiam finibus sapien at scelerisque finibus.
  </div>-->
  <div class="header">
    <h1>M E A N</h1>
    <p>Plataforma para la comunicación y colaboración en clases asíncronas</p>
  </div>
  
  <div class="navbar">
    <a routerLink="/register" class="right">Registrarse</a>
    <a routerLink="/login" class="right">Iniciar Sesión</a>
  </div>
  
  <div class="row">
    <div class="side">
      <h2>MEAN</h2>
      <h5>¿Que es MEAN?</h5>
      <div class="fakeimg" style="height:200px;"><img src="assets/images/mean.jpg" style="height: 100%; width: 100%;"></div><br>
      <p>MEAN es una plataforma de comunicación que busca apoyar a los profesores/docentes en las clases virtuales</p><br>
      <h2>RECONOCIMIENTO</h2>
      <p>MEAN ha sido reconocido por diferentes organizaciones.</p>
      <div class="fakeimg" style="height:100px;"><img src="assets/images/rotten.png" style="height: 80%; width: 80%; margin-top: 10px;"></div><br>
      <div class="fakeimg" style="height:100px;"><img src="assets/images/meta.png" style="height: 80%; width: 80%; margin-top: 10px;"></div><br>
      <div class="fakeimg" style="height:100px;"><img src="assets/images/lvl.png" style="height: 80%; width: 25%; margin-top: 10px;"></div>
      <br><br><br><br><br>
      <img src="assets/images/logo.png" style="height: 500px; width: 100%;"><br>
    </div>
    <div class="main">
      <h2>Casos de exito de MEAN</h2>
      <h2>MEAN aplicada con exito para trabajos en linea en la universidad</h2>
      <h5>EEUU, Agosto 06, 2019</h5>
      <div class="fakeimg" style="height:400px;"><img src="assets/images/uni1.jpg" style="height: 100%; width: 80%;"></div>
      <br>
      <h2>MEAN aplicada para la comunicación entre estudiantes</h2>
      <h5>España , Diciembre 24, 2020</h5>
      <div class="fakeimg" style="height:400px;"><img src="assets/images/uni2.jpg" style="height: 100%; width: 80%;"></div>
      <br>
      <h2>MEAN actualmente siendo utilizada en todas partes del mundo</h2>
      <h5>Francia, Mayo 01, 2021</h5>
      <div class="fakeimg" style="height:400px;"><img src="assets/images/uni3.png" style="height: 100%; width: 80%;"></div>
    </div>
  </div>
<div class="footer">
  <h2>¿Que esperas para unirte a la comunidad?</h2>
  <button mat-raised-button routerLink="/register" style="background-color: #143058; color: white;">Registrarse</button>&nbsp;
  <button mat-raised-button routerLink="/login" style="background-color: #143058; color: white;">Iniciar Sesión</button>
</div>