<div class="fondo">

    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>Administrador</mat-card-title>
            <mat-card-subtitle>Bienvenido, administrador</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
        <hr/>
        <p>
            {{descripcion}}
        </p>

            <div name="menuReportesUsuarios" *ngIf="menuDeAdmin['reporteUsuario'].value">                       
                <button mat-flat-button (click)="cambiarMenu('principal')" style="float: right;" > <mat-icon>keyboard_return</mat-icon> </button>
                <mat-action-list *ngFor="let reporteUsuario of reportesUsuarios; index as i">
                    <button mat-list-item (click)="abrirReporteUsuario({index : i, tipo : reporteUsuario.type})" > {{'Reporte N°: '+ (i+1)}} </button>
                </mat-action-list>
            </div>

            <div name="menuReporteGrupos" *ngIf="menuDeAdmin['reporteGrupo'].value" >
                <button mat-flat-button (click)="cambiarMenu('principal')" style="float: right;" > <mat-icon>keyboard_return</mat-icon> </button>
                <mat-action-list *ngFor="let reporteGrupo of reportesGrupos; index as i">
                    <button mat-list-item (click)="abrirReporteUsuario({index : i, tipo : reporteGrupo.type})" > {{'Reporte N°: '+ (i+1)}} </button>
                </mat-action-list>
            </div>

            <div name="menuListaUsuarios" *ngIf="menuDeAdmin['usuariosBloqueados'].value" >
                <button mat-flat-button (click)="cambiarMenu('principal')" style="float: right;" > <mat-icon>keyboard_return</mat-icon> </button>
                <mat-action-list *ngFor="let usuarioBloqueado of usuariosBloqueados; index as i">
                    <button mat-list-item (click)="abrirUsuarioBloqueado({index : i, tipo : usuarioBloqueado.type})" > {{'Bloqueo N° '+(i+1)}} </button>
                </mat-action-list>
            </div>

            <div name="menuListaGrupos" *ngIf="menuDeAdmin['gruposBloqueados'].value" >
                <button mat-flat-button (click)="cambiarMenu('principal')" style="float: right;" > <mat-icon>keyboard_return</mat-icon> </button>
                <mat-action-list *ngFor="let grupoBloqueado of gruposBloqueados; index as i">
                    <button mat-list-item (click)="abrirUsuarioBloqueado({index : i, tipo : grupoBloqueado.type})"> {{'Bloqueo N° '+(i+1)}} </button>
                </mat-action-list>
            </div>

            <div name="menuPrincipal" *ngIf="menuDeAdmin['principal'].value">
                <mat-action-list>                
                    <button mat-list-item (click)="cambiarMenu('reporteUsuario')"> Reportes de usuarios  <mat-icon matListIcon>folder</mat-icon> </button>
                    <button mat-list-item (click)="cambiarMenu('reporteGrupo')" > Reportes de grupos <mat-icon matListIcon>folder</mat-icon> </button>
                    <button mat-list-item (click)="cambiarMenu('usuariosBloqueados')" > Usuarios bloqueados <mat-icon matListIcon>folder</mat-icon> </button>
                    <button mat-list-item (click)="cambiarMenu('gruposBloqueados')"> Grupos bloqueados <mat-icon matListIcon>folder</mat-icon> </button>
                    <button mat-list-item (click)="abrirBuscarUsuario()"> Buscar usuario <mat-icon matListIcon>account_circle</mat-icon> </button>
                </mat-action-list>
            </div>
        </mat-card-content>        
    </mat-card>    
</div>