<div class="loader-container" *ngIf="loaderService.isLoading | async">    
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div class="colored-box" style="flex-direction: row; box-sizing: border-box; display: flex;">
    <div style="flex: 1 1 100%; box-sizing: border-box; max-width: 20%;">
        
    </div>
    <div fxflex="60" style="flex: 1 1 100%; box-sizing: border-box; max-width: 60%;">
        <div class="container">
            <h1>Registro</h1>
            <p>Por favor complete los campos vacios para registrarse.</p>
            <hr>
            <label><b>Nombre(s)</b></label>
            <input type="text" placeholder="Ingrese su nombre(s)" id="txtNombre"><br>
            <label for="email"><b>Correo</b></label>
            <input type="text" placeholder="Ingrese su correo" name="email" id="email" required><br>
            <!---->
            <label><b>Pregunta de seguridad</b></label><br>
            <mat-form-field appearance="fill">
                <select name="question" id="cbSecurityQ">
                  <option *ngFor="let question of questions" [value]="question.value">
                    {{question.viewValue}}
                  </option>
                </select>
              </mat-form-field><br>
            <label><b>Respuesta</b></label>
            <input type="text" placeholder="Ingrese su respuesta" id="txtSecurityAns">
            <!---->
            <label for="psw"><b>Contraseña</b></label>
            <input type="password" placeholder="Ingrese su contraseña" name="psw" id="psw" required>
        
            <label for="psw-repeat"><b>Repite su contraseña</b></label>
            <input type="password" placeholder="Repita su contraseña" name="psw-repeat" id="psw-repeat" required>
            <hr>
            <button class="registerbtn" (click)="register()">Registrarse</button>            
        </div>
          
        <div class="container signin">
            <button class="cancelbtn" routerLink="/inicio">Cancelar</button>
            <span class="psw">¿Ya esta registrado? <a routerLink="/login">Inicie sesión</a></span>
        </div>
    </div>    
</div>