<div style="height: 100px !important;" style=" background-color: #f6f6f6;">
  <div style="height:50%" >
      <mat-toolbar class="navbar-calender" >
        <span>Calendario Estudiantil</span>
        <span class="example-spacer"></span>
        <button mat-icon-button routerLink="/home">
          <mat-icon>close</mat-icon>
        </button>
      </mat-toolbar>
    
    <div class="calender" style="overflow:visible">
      <full-calendar [options]="calendarOptions"></full-calendar>
    </div>
  </div>
  
</div>
