<div style="height:100%; background-color: #f7f7f7;">
  <div >
      <mat-toolbar class="navbar-calender" >
        <span>Calendario Estudiantil</span>
        <span class="example-spacer"></span>
        <button mat-icon-button routerLink="/home">
          <mat-icon>close</mat-icon>
        </button>
      </mat-toolbar>
    
    <div style="width:50%;height: 100%;
    justify-content: center;margin-left: 25%;">
      <full-calendar [options]="calendarOptions"></full-calendar>
    </div>
  </div>
  
</div>
