<mat-card class="card">
    <div class = "vertical"></div>
    <mat-card-header>
        <h1>Usuario actualmente bloqueado</h1>
        <button mat-icon-button color="primary" (click)="closeModal()">
            <mat-icon>keyboard_return</mat-icon>
        </button>        
    </mat-card-header>
    <mat-card-content>
        <h1>Acá viene el nombre del bloqueado</h1>
        <p>
            Acá viene la info del bloqueado
        </p>    
        <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-content>
        <p>Razón por la cual fue bloqueado</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="warn">Desbloquear</button>        
    </mat-card-actions>
</mat-card>
