<div class="colored-box" style="flex-direction: row; box-sizing: border-box; display: flex;">
    <div style="flex: 1 1 100%; box-sizing: border-box; max-width: 20%;">
        
    </div>
    <div fxflex="60" style="flex: 1 1 100%; box-sizing: border-box; max-width: 60%;">
        <div class="container">
            <h1>Recuperación de cuentas</h1>
            <p>Por favor complete los campos vacios para su recuperacion de cuenta.</p>
            <hr>            
            <label for="email"><b>Correo</b></label>
            <input type="text" placeholder="Ingrese su correo" name="email" id="email" required><br>
            <!---->
            <label><b>Pregunta de seguridad</b></label><br>
            <mat-form-field appearance="fill">
                <select name="question">
                  <option *ngFor="let question of questions" [value]="question.value">
                    {{question.viewValue}}
                  </option>
                </select>
              </mat-form-field><br>
            <label><b>Respuesta</b></label>
            <input type="text" placeholder="Ingrese su respuesta">
            <!---->
            <button class="registerbtn">Confirmar</button>
        </div>
          
        <div class="container signin">
            <button class="cancelbtn">Cancelar</button>
            <span class="psw">¿Recuerda su contraseña? <a routerLink="/login">Inicie sesión</a></span>
        </div>
    </div>
    <div fxflex="20" style="flex: 1 1 100%; box-sizing: border-box; max-width: 20%;">

    </div>
</div>