<mat-toolbar class="navbar-calender">
    <span>Lista Tareas</span>
    <span class="example-spacer"></span>
    <button mat-icon-button routerLink="/home">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>

<div class="colored-box" style="cursor: pointer; flex-direction: row; box-sizing: border-box; display: flex;">
    <div style="flex: 1 1 100%; box-sizing: border-box; max-width: 25%; background-color: #f6f6f6;"> 
        </div>
    <div fxflex="50" style="flex: 1 1 100%; box-sizing: border-box; max-width: 50%;"> 
        <div class="colored-box2" style="cursor: pointer; flex-direction: column; box-sizing: border-box; display: flex;">
            <div style="flex: 1 1 100%; box-sizing: border-box; max-height: 20%; " > 
                <img mat-card-image src="assets/images/chayan.png" 
                style="border-radius: 50%; display: block; margin-left: auto; margin-right: auto; padding-top: 10px; width: 160px; height: 160px;">
            </div>
            <div fxflex="67" style="flex: 1 1 100%; box-sizing: border-box; max-height: 67%; padding: 20px;"> 
                <p>Nombre usuario</p>
                <p>{{usuario}}</p>
                <p>Informacion</p>
                <p>{{informacion}}</p>
                <p>Correo Electronico</p>
                <p>{{correo}}</p>
            </div>
            <div fxflex="13" style="flex: 1 1 1e-09px; box-sizing: border-box; max-height: 13%;  padding-top: 18px;"> 
                <button class="buttonBot" routerLink="/login">Cambiar Usuario</button><br>
                <button class="buttonBot" routerLink="/login">Cerrar Sesión</button><br>
            </div>
        </div>
    </div>
    <div fxflex="25" style="flex: 1 1 0%; box-sizing: border-box; max-width: 25%; background-color: #f6f6f6;"> 
    </div>
</div>