.colored-box{
    height: 93.4%;
    width: 100%;
}
.colored-box2{
    height: 100%;
    width: 100%;
}
.example-spacer {
    flex: 1 1 auto;
  }
.navbar-calender{
    background-color: #143058;
    color: white;
}
.buttonBot{
    height: 30px;
    width: 500px;
    display: block; 
    margin-left: auto; 
    margin-right: auto;    
}
p{
    font-size: 20px;
    margin-top: 20px;
}