<div class="colored-box" style="cursor: pointer; flex-direction: column;display: flex; align-items: center;">
    <div class="header">
        <h2 id="profile-label">Perfil</h2>
    </div>    
    <div fxflex="50" id="profile-container"> 
        <div class="colored-box2" style="cursor: pointer; flex-direction: column; box-sizing: border-box; display: flex;">
            <div style="flex: 1 1 100%; box-sizing: border-box; max-height: 20%; " > 
                <img mat-card-image src="assets/images/chayan.png" 
                id="profile-image">
            </div>
            <div fxflex="67" style="flex: 1 1 100%; box-sizing: border-box; max-height: 67%; padding: 20px;"> 
                <p>Nombre usuario</p>
                <p>{{usuario}}</p>
                <p>Informacion</p>
                <p>{{informacion}}</p>
                <p>Correo Electronico</p>
                <p>{{correo}}</p>
            </div>
            <div fxflex="13" style="flex: 1 1 1e-09px; box-sizing: border-box; max-height: 13%;  padding-top: 18px;">
                <button class="buttonBot" (click)="mostrar()">Pulsar</button><br> 
                <button class="buttonBot" routerLink="/login">Cambiar Usuario</button><br>
                <button class="buttonBot" routerLink="/inicio">Cerrar Sesión</button><br>
            </div>
        </div>
    </div>
    <div fxflex="25" style="flex: 1 1 0%; box-sizing: border-box; max-width: 25%; background-color: #f6f6f6;"> 
    </div>
</div>