<mat-toolbar class="navbar-calender">
    <span>Nueva Tarea / Recordatorio</span>
    <span class="example-spacer"></span>
    <button mat-icon-button (click)="cerrarCTarea()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>

<div class="colored-box" style="flex-direction: row; box-sizing: border-box; display: flex;">
<div style="flex: 1 1 100%; box-sizing: border-box; max-width: 20%; background-color: #f6f6f6;"> 
    </div>
<div fxflex="60" style="flex: 1 1 100%; box-sizing: border-box; max-width: 60%;">
    <div class="container">
    <h1>Titulo</h1>
    <mat-form-field style="width: 50%; margin-top: 5px;">
        <input id="titulo" matInput placeholder="Ingrese un titulo" value="">
      </mat-form-field><br><br><br><br>
      <h1>Instrucciones</h1>
      <mat-form-field style="width: 50%; margin-top: 5px;">
        <input id="instrucciones" matInput placeholder="Ingrese las instrucciones" value="">
      </mat-form-field><br><br><br><br>
      <h1>Puntos</h1>
      <mat-form-field style="width: 50%; margin-top: 5px;">
        <input id="puntosMax" matInput placeholder="Ingrese los puntos maximos" value="">
      </mat-form-field><br><br><br><br>

      <input id="startDate" type="date" value="01/01/2020"  placeholder="Start date">
      <input id="endDate" type="date" value="02/01/2020"  placeholder="End date">

      <h1>Hora de vencimiento</h1>
      <mat-form-field style="width: 50%; margin-top: 5px;">
        <input id="horaVencimiento" matInput placeholder="00:00" value="">
      </mat-form-field><br><br>
     
      <input id="esRecordatorio" type="checkbox">

      <button class="button-list-homeworks" (click)="AsignarTarea()">Asignar Nueva Tarea</button>
    </div>
</div>
<div fxflex="" style="flex: 1 1 0%; box-sizing: border-box;  background-color: #f6f6f6;"> 
    </div>
</div>
  