<mat-toolbar class="navbar-calender">
    <span>Nueva Tarea / Recordatorio</span>
    <span class="example-spacer"></span>
    <button mat-icon-button routerLink="/homework1">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>

<div class="colored-box" style="flex-direction: row; box-sizing: border-box; display: flex;">
<div style="flex: 1 1 100%; box-sizing: border-box; max-width: 20%; background-color: #f6f6f6;"> 
    </div>
<div fxflex="60" style="flex: 1 1 100%; box-sizing: border-box; max-width: 60%;">
    <div class="container">
    <h1>Titulo</h1>
    <mat-form-field style="width: 50%; margin-top: 5px;">
        <input matInput placeholder="Ingrese un titulo" value="">
      </mat-form-field><br><br><br><br>
      <h1>Instrucciones</h1>
      <mat-form-field style="width: 50%; margin-top: 5px;">
        <input matInput placeholder="Ingrese las instrucciones" value="">
      </mat-form-field><br><br><br><br>
      <h1>Puntos</h1>
      <mat-form-field style="width: 50%; margin-top: 5px;">
        <input matInput placeholder="Ingrese los puntos maximos" value="">
      </mat-form-field><br><br><br><br>
    <mat-form-field appearance="fill">
        <mat-label>Fecha de inicio y fin de la tarea</mat-label>
        <mat-date-range-input [rangePicker]="picker" >
          <input matStartDate placeholder="Start date">
          <input matEndDate placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field><br>
      <h1>Hora de vencimiento</h1>
      <mat-form-field style="width: 50%; margin-top: 5px;">
        <input matInput placeholder="00:00" value="">
      </mat-form-field><br><br>
      <mat-slide-toggle>¿Recordatorio?</mat-slide-toggle><br><br>
      <button class="button-list-homeworks" routerLink="/create">Asignar Nueva Tarea</button>
    </div>
</div>
<div fxflex="" style="flex: 1 1 0%; box-sizing: border-box;  background-color: #f6f6f6;"> 
    </div>
</div>
  