.example-spacer {
    flex: 1 1 auto;
  }
.navbar-calender{
    background-color: #143058;
    color: white;
}
.colored-box{
    height: 93%;
    width: 100%;
}
.container{
    padding: 16px;
    text-align: left;
    font-size: 30px;
}
.button-list-homeworks{
    background-color: #4379c9;
    color: white;
    height: 50px;
    width: 200px;
    cursor: pointer;
    border-radius: 5px;  
    box-sizing: border-box;
    float: right;
}
p{
    margin-top: 50px;
}